body {
    background-color: rgb(248, 241, 226);
}

#title {
    width: fit-content;
    margin: 1em auto;
    font-size: 2rem;

    font-family: Georgia, serif;
    color: #222;
}

.wrapper {
    margin: 0 auto 50vh auto;
    max-width: 40rem;
    width: 100%;
}

#input-text {
    display: block;
    padding: 1em;
    margin: 0 auto 2rem auto;
    width: 80%;
    height: 10rem;

    border-radius: 0.2em;
    background-color: #fff8;

    font-family: Georgia, serif;
    font-size: 1.4rem;
}

#input-text:focus {
    outline: none;
}

.font-name {
    margin-bottom: 1rem;

    font-size: 1.6rem;
    font-family: Georgia, serif;
    color: #333;
}

.font-text {
    margin-bottom: 2rem;

    font-size: 1.3rem;
    font-family: Georgia, serif;
    color: #333;
}

@font-face {
    font-family: TeyvatNeue;
    src: url("../font/genshin-impact/teyvat/TeyvatNeue-Regular-1.002.otf") format("opentype");
}

@font-face {
    font-family: InazumaNeue;
    src: url("../font/genshin-impact/inazuma/InazumaNeue-Regular-1.000.otf") format("opentype");
}

@font-face {
    font-family: SumeruNeue;
    src: url("../font/genshin-impact/sumeru/SumeruNeue-Regular-0.007.otf") format("opentype");
}

@font-face {
    font-family: DeshretNeue;
    src: url("../font/genshin-impact/deshret/DeshretNeue-Regular-1.002.otf") format("opentype");
}

@font-face {
    font-family: KhaenriahNeue;
    src: url("../font/genshin-impact/khaenriah/KhaenriahNeue-Regular-2.000.otf") format("opentype");
}

@font-face {
    font-family: KhaenriahNeueChasm;
    src: url("../font/genshin-impact/khaenriah/KhaenriahNeue-Chasm-2.000.otf") format("opentype");
}

@font-face {
    font-family: StarRailNeue;
    src: url("../font/honkai-star-rail/star-rail/StarRailNeue-Regular-0.200.otf") format("opentype");
}

@font-face {
    font-family: LuofuNeue;
    src: url("../font/honkai-star-rail/luofu/LuofuNeue-Regular-0.100.otf") format("opentype");
}

@font-face {
    font-family: ZzzNeueVariantA;
    src: url("../font/zenless-zone-zero/ZZZNeue-VariantA-0.003.otf") format("opentype");
}

@font-face {
    font-family: ZzzNeueVariantB;
    src: url("../font/zenless-zone-zero/ZZZNeue-VariantB-0.003.otf") format("opentype");
}

#teyvat-neue {
    font-family: TeyvatNeue, serif;
}

#inazuma-neue {
    font-family: InazumaNeue, serif;
}

#sumeru-neue {
    font-family: SumeruNeue, serif;
}

#deshret-neue {
    font-family: DeshretNeue, serif;
}

#khaenriah-neue {
    font-family: KhaenriahNeue, serif;
}

#khaenriah-neue-chasm {
    font-family: KhaenriahNeueChasm, serif;
}

#star-rail-neue {
    font-family: StarRailNeue, serif;
}

#luofu-neue {
    font-family: LuofuNeue, serif;
}

#zzz-neue-variant-a {
    font-family: ZzzNeueVariantA, serif;
}

#zzz-neue-variant-b {
    font-family: ZzzNeueVariantB, serif;
}