@media only screen and (min-width: 769px) {
    .left {
        display: inline-block;
        width: 45%;
    }

    .right {
        display: inline-block;
        width: 45%;
    }
}

@font-face {
    font-family: TeyvatNeue;
    src: url("../font/genshin-impact/TeyvatNeue-Regular-1.002.otf") format("opentype");
}
@font-face {
    font-family: InazumaNeue;
    src: url("../font/genshin-impact/InazumaNeue-Regular-0.006.otf") format("opentype");
}
@font-face {
    font-family: KhaenriahNeue;
    src: url("../font/genshin-impact/KhaenriahNeue-Regular-2.000.otf") format("opentype");
}
@font-face {
    font-family: KhaenriahNeueChasm;
    src: url("../font/genshin-impact/KhaenriahNeue-Chasm-2.000.otf") format("opentype");
}
@font-face {
    font-family: StarRailNeue;
    src: url("../font/honkai-star-rail/StarRailNeue-Regular-0.001.otf") format("opentype");
}
@font-face {
    font-family: ZzzNeueVariantA;
    src: url("../font/zenless-zone-zero/ZZZNeue-VariantA-0.003.otf") format("opentype");
}
@font-face {
    font-family: ZzzNeueVariantB;
    src: url("../font/zenless-zone-zero/ZZZNeue-VariantB-0.003.otf") format("opentype");
}

body {
    background-color: rgb(248, 241, 226);
}

* {
    font-family: Georgia, serif;
    color: #333;
}

.left {
    margin: 1em;
}

.right {
    margin: 1em;
}

#title {
    width: fit-content;
    margin: 1em auto;
    font-size: 2rem;
}

.section-title {
    font-size: 1.1em;
    margin: 0.5em 0;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 80em;
}

.wrapper>div {
    vertical-align: middle;
}

#input-text {
    border-radius: 0.2em;
    background-color: #fff8;
    padding: 1em;

    overflow: hidden;
    width: 100%;
    min-height: 5em;
    font-size: 1.4rem;
    box-sizing: border-box;
}

#input-text:focus {
    outline: none;
}

.font-name {
    font-size: 1.6rem;
    color: #555;
}

.font-text {
    width: 100%;
    font-size: 1.3rem;
}

@media only screen and (min-width: 769px) {
    #input-text { min-height: 15em; }
}

#teyvat-neue { font-family: TeyvatNeue, serif; }
#inazuma-neue { font-family: InazumaNeue, serif; }
#khaenriah-neue { font-family: KhaenriahNeue, serif; }
#khaenriah-neue-chasm { font-family: KhaenriahNeueChasm, serif; }
#star-rail-neue { font-family: StarRailNeue, serif; }
#zzz-neue-variant-a { font-family: ZzzNeueVariantA, serif; }
#zzz-neue-variant-b { font-family: ZzzNeueVariantB, serif; }